#bigPart{
    margin-bottom: 5%;
    font-family: 'Source Serif Pro', serif;
    .container-fluid{
        .row{
            .leftPart{
                // opacity: 0;
                background: url("../Images/sale.jpg");
                height: 700px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.8s ease;  
                &:hover{
                background: linear-gradient(rgba(255, 0, 106, 0.7), rgba(255,0,106,0.7)),url("../Images/sale.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 1;
                transition: all 0.8s ease;                
                }
                .content{
                    color: white;  
                    padding-left: 5%;
                   h4{
                    padding-top: 25%;
                }
                    h1{
                        font-size: 6em;
                }
                input{
                        padding: 15px 20px 15px 20px;
                        margin-top: 5%;
                        background: transparent;
                        color: white;
                        border: 2px solid white;
                        transition: all 0.6s ease;                
                        &:hover{
                            background: rgb(151, 9, 68);
                            border: none;
                            transition: all 0.6s ease;                
                        }
                } 
            }
                
            }
            .rightPart{
                background: url("../Images/design.jpg");
                height: 700px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.4s ease;                
                &:hover{
                background: linear-gradient(rgba(255, 0, 106, 0.7), rgba(255,0,106,0.7)),url("../Images/design.jpg");
                opacity: 1;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.4s ease;  
                }
                .content{
                    color: white;  
                    padding-left: 5%;
                   h4{
                    padding-top: 25%;
                }
                    h1{
                        font-size: 6em;
                }
                input{
                        padding: 15px 20px 15px 20px;
                        margin-top: 5%;
                        background: transparent;
                        color: white;
                        border: 2px solid white;
                        transition: all 0.4s ease;                
                        &:hover{
                            background: rgb(151, 9, 68);
                            border: none;
                            transition: all 0.4s ease;                
                        }
                } 
            }
            }
        }
    }
}
@media   screen and (min-width: 320px) and (max-width: 767px){
    #bigPart{
        margin-top: -60%;
        .container-fluid{
            .row{
                .leftPart{
                    height: 550px;
                    margin-bottom: 5%;
                }
                .rightPart{
                    height: 550px;
                    .content{
                        h4{
                            padding-top: 45%;
                        }
                        h1{
                            font-size: 3.5em;
                        }
                    }
                }
            }
        }
    }
}
@media   screen and (min-width: 768px) and (max-width: 1023px){
    #bigPart{
        margin-top: -25%;
        .container-fluid{
            .row{
                .leftPart{
                    height: 650px;
                    .content{
                        h4{
                            padding-top: 45%;
                        }
                    }
                }
                .rightPart{
                    height: 650px;
                    .content{
                        h4{
                            padding-top: 45%;
                        }
                        h1{
                            font-size: 4.5em;
                        }
                    }
                }
            }
        }
    }
}