#box{
    font-family: 'Lato', sans-serif;
    margin-bottom: 5%;
   .container{
       .col-md-3{
           padding: 0;
           .box{
               position: relative;
                transition: all 0.4s ease;
                border: 2px double white;
               .upper{
                   position: relative;
                   background-color: rgba(0, 255, 255, 0.3);
                   width: 100%;
                   height: 300px;
                   text-align: center;
                   color: #fff;
                   padding-top: 4%;
                   opacity: 1;
                   transition: all 1s ease;
                   i{
                    font-size: 5em;
                   }
                   input{
                    transform: scale(0);
                    position: absolute;
                    top: 60%;
                    right: 2%;
                    padding: 5px 15px 5px 15px;
                    background: transparent;
                    color: rgb(250, 198, 103);
                    font-weight: bold;
                    border: 2px solid rgb(250, 198, 103);
                    transition: all 0.4s ease;
                        &:hover{
                        background: rgba(0, 0, 0, 0.603);
                        color: wheat;
                        border: 2px solid wheat;
                    }
                }
                .upperContent{
                    margin-left: -15%;
                    h1, p{
                        display: inline-block;
                        transition: all linear 0.4s;
                    }
                    .smallP{
                        font-size: 1.1em;
                        padding-left: 14%;
                        font-weight: bold;
                        transition: all linear 0.4s;
                    }
                    .h1Border, .pBorder{
                        border: 3px solid wheat;
                        color: wheat;
                        padding: 2%;
                        letter-spacing: .5ch;
                        letter-spacing: 0.3ch;
                        text-shadow: 0 1px 0 wheat, 0 1.4px 0 wheat, 
                                    0 1.7px 0 wheat, 0 2px 0 wheat, 
                                    0 2.3px 0 wheat, 0 2.6px 0 wheat,
                                    0 2.9px 0 wheat, 0 3.2px 0 wheat, 
                                    0 0 5px rgba(0, 0, 0, 0.05), 
                                    0 1px 3px rgba(0, 0, 0, 0.2), 
                                    0 3px 5px rgba(0, 0, 0, 0.2), 
                                    0 5px 10px rgba(0, 0, 0, 0.2), 
                                    0 10px 10px rgba(0, 0, 0, 0.2), 
                                    0 20px 20px rgba(0, 0, 0, 0.3);
                    }
                }
                .content{
                    text-align: left;
                    padding-left: 2%;
                    font-family: 'Old Standard TT', serif;
                    transition: all ease-out 0.6s;
                    h1{
                        margin: 0;
                        // font-weight: bold;
                        text-transform: uppercase;
                    }
                    .normalSize{
                        font-size: 2em;
                        font-weight: bold;
                    }
                    .biggerWord{
                        font-size: 2.6em;
                    }
                    .smallWord{
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                    .bigWord{
                        font-size: 2.3em;
                    }
                }
               }
               .changable{
                   .content{
                       text-align: right;
                       padding-right: 2%;
                   }
                input{
                    transform: scale(0);
                    position: absolute;
                    top: 18%;
                    left: 2%;
                    padding: 5px 15px 5px 15px;
                    background: transparent;
                    color: rgb(250, 198, 103);
                    font-weight: bold;
                    border: 2px solid rgb(250, 198, 103);
                    transition: all 0.4s ease;
                        &:hover{
                        background: rgba(0, 0, 0, 0.603);
                        color: wheat;
                        border: 2px solid wheat;
                    }
                }
               }
               .down{
                   position: absolute;
                   top: 0;
                   z-index: -1;
                   transition: all linear .6s;
                   img{
                       width: 100%;
                       height: 300px;
                   }
               }
            //    &:hover input{
            //     transform: scale(1);
            //     transition: all 0.4s ease;
            //     }
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 5px 20px rgba(0,0,0,1);
                }
           }
           &:hover{
               z-index: 1;
               border: none;
           }
           &:hover .down{
            top:100%;
           }
           &:hover #box{
            padding-bottom:100%;
           }
           &:hover .content{
            color: rgb(255, 187, 61);
            text-shadow: 0 1px 0 #c9cfce, 0 1.3px 0 #bcc2c2, 
                            0 1.5px 0 #afb6b6, 0 1.7px 0 #a4adac, 
                            0 1.9px 0 #9fa8a7, 0 2.1px 0 #99a3a2,
                             0 2.3px 0 #97a1a0, 0 2.5px 0 #949e9d, 
                             0 0 5px rgba(0, 0, 0, 0.05), 
                             0 1px 3px rgba(0, 0, 0, 0.2), 
                             0 3px 5px rgba(0, 0, 0, 0.2), 
                             0 5px 10px rgba(0, 0, 0, 0.2), 
                             0 10px 10px rgba(0, 0, 0, 0.2), 
                             0 20px 20px rgba(0, 0, 0, 0.3);
           }
           &:hover .upper{
                background: linear-gradient(to right, #000, rgb(129, 250, 234));
                font-family: 'Lato', sans-serif;
                opacity: 0.9;
                transition: all 1s ease;
           }
           &:hover .changable{
            background: linear-gradient(to right, rgb(129, 250, 234), #000);
            font-family: 'Lato', sans-serif;
            }
            &:hover .changable .upperContent{
                color: #fff;
               text-shadow: 0 1px 0 #fff, 0 1.3px 0 #fff, 
                            0 1.5px 0 #fff, 0 1.7px 0 #fff, 
                            0 1.9px 0 #fff, 0 2.1px 0 #fff,
                             0 2.3px 0 #fff, 0 2.5px 0 #fff, 
                             0 0 5px rgba(0, 0, 0, 0.05), 
                             0 1px 3px rgba(0, 0, 0, 0.2), 
                             0 3px 5px rgba(0, 0, 0, 0.2), 
                             0 5px 10px rgba(0, 0, 0, 0.2), 
                             0 10px 10px rgba(0, 0, 0, 0.2), 
                             0 20px 20px rgba(0, 0, 0, 0.3);
                }
           &:hover .upperContent{
               color: #000;
               text-shadow: 0 1px 0 #000, 0 1.3px 0 #000, 
                            0 1.5px 0 #000, 0 1.7px 0 #000, 
                            0 1.9px 0 #000, 0 2.1px 0 #000,
                             0 2.3px 0 #000, 0 2.5px 0 #000, 
                             0 0 5px rgba(0, 0, 0, 0.05), 
                             0 1px 3px rgba(0, 0, 0, 0.2), 
                             0 3px 5px rgba(0, 0, 0, 0.2), 
                             0 5px 10px rgba(0, 0, 0, 0.2), 
                             0 10px 10px rgba(0, 0, 0, 0.2), 
                             0 20px 20px rgba(0, 0, 0, 0.3);
           }
           &:hover .box .upper input{
            transform: scale(1);
            transition: all 0.4s ease;
            }
            &:hover .box .upperContent .smallP{
                color: #fff;
                text-shadow: 0 1px 0 #c9cfce, 0 1.3px 0 #bcc2c2, 
                            0 1.5px 0 #afb6b6, 0 1.7px 0 #a4adac, 
                            0 1.9px 0 #9fa8a7, 0 2.1px 0 #99a3a2,
                             0 2.3px 0 #97a1a0, 0 2.5px 0 #949e9d, 
                             0 0 5px rgba(0, 0, 0, 0.05), 
                             0 1px 3px rgba(0, 0, 0, 0.2), 
                             0 3px 5px rgba(0, 0, 0, 0.2), 
                             0 5px 10px rgba(0, 0, 0, 0.2), 
                             0 10px 10px rgba(0, 0, 0, 0.2), 
                             0 20px 20px rgba(0, 0, 0, 0.3);      
            }
       }
   }
}
@media  screen and (min-width: 320px) and (max-width: 359px){
    #box{
        .container{
            .col-md-3{
                padding-left: 2%;
                padding-right: 2%;
                .box{
                    .upper{
                        .upperContent{
                            .smallP{
                                font-size: 0.9em;
                            }
                        }
                        .content{
                            .normalSize{
                                font-size: 1.7em;
                            }
                            .biggerWord{
                                font-size: 2.4em;
                            }
                            .smallWord{
                                font-size: 1em;
                            }
                            .bigWord{
                                font-size: 2em;
                            }
                        }
                    }
                    &:hover{
                        transform: scale(1);
                    }
                }
            }
        }
    }      
}
@media  screen and (min-width: 360px) and (max-width: 767px){
    #box{
        .container{
            .col-md-3{
                padding-left: 2%;
                padding-right: 2%;
                .box{
                    .upper{
                        .upperContent{
                            // .smallP{
                            //     font-size: 0.9em;
                            // }
                        }
                        .content{
                            .normalSize{
                                font-size: 1.7em;
                            }
                            .biggerWord{
                                font-size: 2.4em;
                            }
                            .smallWord{
                                font-size: 1em;
                            }
                            .bigWord{
                                font-size: 2em;
                            }
                        }
                    }
                    &:hover{
                        transform: scale(1);
                    }
                }
            }
        }
    }      
}
@media  screen and (min-width: 411px) and (max-width: 767px){
    #box{
        .container{
            .col-md-3 {
                .box{
                    .upper{
                        .upperContent{
                            .smallP{
                                padding-left: 21%;
                            }
                        }
                    }
                }
            }
        }
    }     
}
@media  screen and (min-width: 768px) and (max-width: 1023px){
    #box{
        margin-bottom: 130%;
        .container{
            .col-md-3{
               .box {
                   .upper{
                    height: 228px;
                       .upperContent{
                        padding-top: 5%;
                            .h1Border{
                                margin-left: 6%;
                                font-size: 1.2em;
                            }
                            .pBorder{
                                font-size: 0.6em;
                            }
                            h1{
                                font-size: 1em;
                            }
                            p{
                                font-size: 1em;
                            }
                            .smallP{
                                font-size: 0.5em;
                                padding-left: 14%;
                            } 
                       } 
                       .content {
                           .normalSize{
                            font-size: 1.5em;
                           }
                           .biggerWord{
                            font-size: 2.2em;
                           }
                           .smallWord{
                            font-size: 1em;
                           }
                           .bigWord{
                            font-size: 1.8em;
                           }
                       }
                       input{
                        top: 47%;
                        font-size: 0.7em;
                        right: 8%;
                        padding: 1px 5px 1px 5px;
                       }
                   }
                   .changable{
                       input{
                        top: 3%;
                        left: 8%;
                        padding: 1px 5px 1px 5px;
                       }
                   }
                   .down{
                       img{
                        height: 228px;
                       }
                   }
               }
            }
        }     
    }     
}
@media  screen and (min-width: 1024px) and (max-width: 1300px){
    #box{
        .container{
            .col-md-3{
               .box {
                   .upper{
                    height: 240px;
                       .upperContent{
                        padding-top: 5%;
                            .h1Border{
                                margin-left: 22%;
                                font-size: 1.2em;
                            }
                            .pBorder{
                                font-size: 0.6em;
                            }
                            h1{
                                font-size: 1em;
                            }
                            p{
                                font-size: 1em;
                            }
                            .smallP{
                                font-size: 0.5em;
                                padding-left: 14%;
                            } 
                       } 
                       .content {
                           .normalSize{
                            font-size: 1.5em;
                           }
                           .biggerWord{
                            font-size: 2.2em;
                           }
                           .smallWord{
                            font-size: 1em;
                           }
                           .bigWord{
                            font-size: 1.8em;
                           }
                       }
                       input{
                        top: 60%;
                        font-size: 0.8em;
                        right: 5%;
                        padding: 5px 10px 5px 10px;
                       }
                   }
                   .changable{
                       input{
                        top: 3%;
                        left: 5%;
                        padding: 5px 10px 5px 10px;
                       }
                   }
                   .down{
                       img{
                        height: 240px;
                       }
                   }
               }
            }
        }     
    }     
}