#cardPart{
    margin-bottom: 5%;
    .container{
        .row{
            .col-md-3{
                padding: 1%;
                .card{
                    img{
                        width: 100%;
                        height: 300px;
                        padding: 4%;
                    }
                    .card-body{
                        padding: 0;
                        text-align: center;
                        h5{
                            padding: 5% 4% 0 4%;
                        }
                        p{
                            padding: 0 4% 0 4%;
                        }
                        input{
                        visibility: hidden;
                        padding: 15px 20px 15px 20px;
                        margin-top: 5%;
                        background: #d91522;
                        color: white;
                        border: 2px solid white;
                        width: 100%;
                        }
                    }
                    &:hover input{
                        visibility: visible;
                    }
                    &:hover{
                        border: 1px solid rgba(185, 185, 185, 0.664);
                        box-shadow: 0px 0px 20px 5px rgba(185, 185, 185, 0.664);
                        z-index: 10;
                    }
                }
            }
        }
    }
    
}
@media  screen and (min-width: 320px) and (max-width: 359px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        margin-left: 4%;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 360px) and (max-width: 374px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        margin-left: 9%;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 375px) and (max-width: 410px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        margin-left: 11%;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 411px) and (max-width: 767px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        margin-left: 14%;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 768px) and (max-width: 1023px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        width: 11em!important;
                        img{
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 1024px) and (max-width: 1100px){
    #cardPart{
        .container{
            .row{
                .col-md-3{
                    .card{
                        width: 14em!important;
                        img{
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}