* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

#navbar {
  background: #f2f2f2;
  z-index: 111;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease; }
  #navbar .navbar-brand span.logo1 i.fa {
    font-size: 34px;
    padding-right: 1%; }
  #navbar .navbar-brand span.logo1 img {
    position: absolute;
    top: 0%;
    z-index: 111;
    transition: all 0.4s ease; }
  #navbar .navbar-brand span.logo2 {
    color: #d91522;
    font-size: 38px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 400;
    padding-left: 68%; }
  #navbar ul {
    margin-left: 14%; }
    #navbar ul li {
      margin-left: 2%;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      transition: .5s; }
      #navbar ul li a {
        color: #58595b;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        position: relative;
        padding: 5px 20px;
        transition: all .6s ease-out; }
        #navbar ul li a:hover {
          color: white;
          z-index: 1;
          transition: all .6s ease-out; }
        #navbar ul li a::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          transform: scaleY(2.5);
          opacity: 0;
          transition: all .6s ease-out; }
        #navbar ul li a:hover:before {
          transform: scaleY(1.2);
          opacity: 1; }
        #navbar ul li a::after {
          content: '';
          position: absolute;
          top: 1px;
          left: 0;
          height: 100%;
          width: 100%;
          background: black;
          transform: scale(0);
          transition: all 1s ease-out;
          z-index: -1; }
        #navbar ul li a:hover:after {
          transform: scale(1);
          transition: all .5s ease-out; }
  #navbar form button {
    background-color: transparent;
    border-color: #d91522; }
    #navbar form button i.fa {
      color: #d91522; }
      #navbar form button i.fa:hover {
        transition: all 0.3s linear;
        transform: scale(1.5, 1.5); }
  #navbar .navbar-toggler:not(:disabled):not(.disabled) {
    color: #d91522 !important;
    border-color: #d91522 !important; }

@media screen and (min-width: 320px) and (max-width: 359px) {
  #navbar {
    width: 100%;
    padding: 0px; }
    #navbar .navbar-brand span {
      font-size: 18px !important; }
    #navbar .navbar-brand span.logo1 img {
      left: -11px;
      width: 33%; }
    #navbar .navbar-brand span.logo2 {
      padding-left: 58%; }
    #navbar .collapse ul li {
      text-align: center;
      padding-right: 20%; }
      #navbar .collapse ul li a::before {
        display: none; }
      #navbar .collapse ul li a::after {
        display: none; }
      #navbar .collapse ul li a:hover {
        color: #d91522; }
    #navbar .collapse form input {
      width: 80%; } }
@media screen and (min-width: 360px) and (max-width: 767px) {
  #navbar {
    width: 100%;
    padding: 0px; }
    #navbar .navbar-brand span {
      font-size: 22px !important; }
    #navbar .navbar-brand span.logo1 img {
      left: -11px;
      width: 33%; }
    #navbar .navbar-brand span.logo2 {
      padding-left: 58%; }
    #navbar .collapse ul li {
      text-align: center;
      padding-right: 20%; }
      #navbar .collapse ul li a::before {
        display: none; }
      #navbar .collapse ul li a::after {
        display: none; }
      #navbar .collapse ul li a:hover {
        color: #d91522; }
    #navbar .collapse form input {
      width: 85%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #navbar {
    width: 100%;
    padding: 0px; }
    #navbar ul {
      margin-left: 35%; }
    #navbar .navbar-brand span {
      font-size: 22px !important; }
    #navbar .navbar-brand span.logo1 img {
      left: -11px;
      width: 16%; }
    #navbar .navbar-brand span.logo2 {
      padding-left: 60%; }
    #navbar .collapse ul {
      display: flex; }
      #navbar .collapse ul li {
        text-align: center;
        padding-right: 20%;
        margin-left: -45%; }
        #navbar .collapse ul li a {
          position: relative;
          display: block;
          padding: 10px 20px;
          margin: 20px 0;
          transition: .5s; }
          #navbar .collapse ul li a a::before {
            display: none; }
          #navbar .collapse ul li a a::after {
            display: none; }
          #navbar .collapse ul li a a:hover {
            color: #d91522; }
        #navbar .collapse ul li a::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 1px solid black; }
    #navbar .collapse form input {
      width: 90%; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #navbar {
    width: 100%;
    padding: 0px; }
    #navbar .navbar-brand span.logo1 img {
      width: 16%; }
    #navbar .collapse ul {
      margin-left: 3%; }
      #navbar .collapse ul li {
        margin-left: 1%; }
        #navbar .collapse ul li a {
          font-size: 0.8em; }
    #navbar .navbar-brand span.logo1 img {
      left: 0; }
    #navbar .navbar-brand span.logo2 {
      margin-left: -23%; }
    #navbar .form-inline .form-control {
      margin-left: 0%; } }
@media screen and (min-width: 464px) and (max-width: 509px) {
  #navbar .navbar-brand span.logo1 img {
    width: 33% !important;
    left: -20px; } }
@media screen and (min-width: 510px) and (max-width: 800px) {
  #navbar .navbar-brand span.logo1 img {
    width: 16% !important;
    left: -20px; } }
#firstPart {
  margin-top: 3%;
  font-family: 'Source Serif Pro', serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/shopCenter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  padding-left: 10%;
  padding-right: 8%; }
  #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart {
    color: white;
    padding-top: 8%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .bigWord {
      font-size: 3.5em;
      font-weight: bold;
      text-shadow: 0 1px 0 #c9cfce, 0 1.3px 0 #bcc2c2, 0 1.5px 0 #afb6b6, 0 1.7px 0 #a4adac, 0 1.9px 0 #9fa8a7, 0 2.1px 0 #99a3a2, 0 2.3px 0 #97a1a0, 0 2.5px 0 #949e9d, 0 20px 20px rgba(0, 0, 0, 0.3); }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h1 {
      text-transform: uppercase; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h1 span {
        color: #ffd483; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button {
      padding-top: 8%; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button input {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.4ch;
        background: transparent;
        color: white;
        font-weight: bold;
        border-left: 2px solid white;
        border-right: 2px solid white;
        transition: all 0.6s ease;
        margin-right: 3%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button input:hover {
          transform: scale(1.1);
          color: wheat;
          border: 2px solid wheat;
          border-top: none;
          border-bottom: none;
          letter-spacing: 0.8ch; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button p {
        display: inline-block;
        margin-right: 2%; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button a {
        color: #ffd483;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        transition: all 0.6s ease; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button a:hover {
          padding-left: 2%;
          letter-spacing: 0.2ch; }
  #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart {
    position: relative;
    width: 100%;
    padding-top: 10%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart img {
      position: absolute;
      width: 50%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart .bag {
      left: 48%;
      padding-top: 17%;
      z-index: 2; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart .clock {
      left: 36%;
      width: 26%;
      padding-top: 32%;
      z-index: 4; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart .suit {
      left: 27%;
      z-index: 1; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart .shoes {
      left: 12%;
      padding-top: 34%;
      width: 38%;
      z-index: 3; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #firstPart {
    padding-left: 0%;
    padding-right: 0%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart {
      padding-left: 8%; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .bigWord {
        font-size: 1em; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h1 {
        font-size: 0.8rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h3 {
        font-size: .6rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button {
        padding-top: 1%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button input {
          font-size: 0.4rem;
          padding: 2%;
          border-left: 1px solid white;
          border-right: 1px solid white;
          margin-right: 2%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button p {
          margin-right: 1%;
          font-size: 0.6rem; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button a {
          font-size: 0.5rem; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart {
      width: 100%;
      padding-top: 26%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #firstPart {
    padding-left: 0%;
    padding-right: 0%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart {
      padding-left: 8%; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .bigWord {
        font-size: 2.1em; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h1 {
        font-size: 1.4rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h3 {
        font-size: 1rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button {
        padding-top: 1%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button input {
          font-size: 0.6rem;
          padding: 2%;
          border-left: 1.5px solid white;
          border-right: 1.5px solid white;
          margin-right: 2%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button p {
          margin-right: 1%;
          font-size: 0.7rem; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button a {
          font-size: 0.7rem; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart {
      width: 83%;
      padding-top: 11%; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #firstPart {
    padding-left: 0%;
    padding-right: 0%; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart {
      padding-left: 8%; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .bigWord {
        font-size: 2.4em; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h1 {
        font-size: 1.6rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart h3 {
        font-size: 1.2rem; }
      #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button {
        padding-top: 1%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button input {
          font-size: 0.8rem;
          padding: 2%;
          border-left: 2px solid white;
          border-right: 2px solid white;
          margin-right: 2%; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button p {
          margin-right: 1%;
          font-size: 0.9rem; }
        #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .leftPart .button a {
          font-size: 0.8rem; }
    #firstPart .container-fluid .row .col-md-12 .row .col-md-6 .rightPart {
      width: 70%;
      padding-top: 11%; } }
#bigPart {
  margin-top: 5%;
  font-family: 'Lato', sans-serif; }
  #bigPart .container-fluid .row .col-md-12 {
    padding: 0; }
    #bigPart .container-fluid .row .col-md-12 .main {
      text-align: center;
      width: 100%;
      height: 700px;
      padding-top: 6%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/shop.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: white;
      text-transform: uppercase; }
      #bigPart .container-fluid .row .col-md-12 .main h1 {
        padding-top: 1%; }
      #bigPart .container-fluid .row .col-md-12 .main i {
        font-size: 2.2em;
        transform: rotate(180deg); }
      #bigPart .container-fluid .row .col-md-12 .main .littleWord {
        font-size: 1.2em; }
      #bigPart .container-fluid .row .col-md-12 .main .middleWord {
        font-size: 2em; }
      #bigPart .container-fluid .row .col-md-12 .main .bigWord {
        font-size: 5em; }
      #bigPart .container-fluid .row .col-md-12 .main .normalSize {
        font-size: 2.5em; }
      #bigPart .container-fluid .row .col-md-12 .main input {
        text-transform: uppercase;
        letter-spacing: 0.4ch;
        padding: 12px 20px 12px 20px;
        background: transparent;
        color: white;
        font-weight: bold;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        transition: all 0.6s ease; }
        #bigPart .container-fluid .row .col-md-12 .main input:hover {
          transform: scale(1.1);
          color: wheat;
          border: 2px solid wheat;
          border-left: none;
          border-right: none;
          letter-spacing: 0.8ch;
          margin: 2%; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #bigPart .container-fluid .row .col-md-12 {
    padding: 0; }
    #bigPart .container-fluid .row .col-md-12 .main {
      height: 260px; }
      #bigPart .container-fluid .row .col-md-12 .main i {
        font-size: 1.5em; }
      #bigPart .container-fluid .row .col-md-12 .main .littleWord {
        font-size: 0.6em; }
      #bigPart .container-fluid .row .col-md-12 .main .middleWord {
        font-size: 1.4em; }
      #bigPart .container-fluid .row .col-md-12 .main .bigWord {
        font-size: 1.3em; }
      #bigPart .container-fluid .row .col-md-12 .main .normalSize {
        font-size: 1em; }
      #bigPart .container-fluid .row .col-md-12 .main input {
        font-size: 0.8rem;
        padding: 2%;
        border-bottom: 1px solid white;
        border-top: 1px solid white; } }
@media screen and (min-width: 360px) and (max-width: 767px) {
  #bigPart .container-fluid .row .col-md-12 .main {
    height: 280px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #bigPart .container-fluid .row .col-md-12 .main {
    height: 600px; } }
#collection {
  font-family: 'Lato', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%; }
  #collection .container .row .col-md-4 .main {
    overflow: hidden;
    border: 2px solid wheat;
    padding: 0 0% 0 5%;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.651), 0 5px 15px 0 rgba(0, 0, 0, 0.521);
    transition: all 0.6s ease; }
    #collection .container .row .col-md-4 .main:hover {
      box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.651), 0 5px 15px 0 rgba(0, 0, 0, 0.521); }
    #collection .container .row .col-md-4 .main .row .col-md-6 {
      padding: 0; }
      #collection .container .row .col-md-4 .main .row .col-md-6 .collection {
        padding: 19% 0% 0% 10%;
        color: white; }
      #collection .container .row .col-md-4 .main .row .col-md-6 .picture {
        position: relative; }
        #collection .container .row .col-md-4 .main .row .col-md-6 .picture img {
          width: 130%; }
        #collection .container .row .col-md-4 .main .row .col-md-6 .picture input {
          position: absolute;
          bottom: 5%;
          right: 15%;
          margin-top: 3%;
          padding: 12px 20px 12px 20px;
          background: rgba(255, 255, 255, 0.3);
          color: white;
          font-weight: bold;
          border: 2px solid gray;
          transition: all 0.6s ease; }
          #collection .container .row .col-md-4 .main .row .col-md-6 .picture input:hover {
            background: rgba(0, 0, 0, 0.3);
            color: wheat;
            border: 2px solid wheat; }
  #collection .container .row .col-md-4 .shoes {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/shoes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #collection .container .row .col-md-4 .bag {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/bag.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #collection .container .row .col-md-4 .watch {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/watch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #collection .container .row .col-md-4 .watch, #collection .container .row .col-md-4 .shoes {
    margin-top: 5%; }
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
    padding-top: 25%; } }
@media screen and (min-width: 320px) and (max-width: 359px) {
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
    padding-top: 7%;
    font-size: 0.8em; } }
@media screen and (min-width: 360px) and (max-width: 410px) {
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
    padding-top: 14%; } }
@media screen and (min-width: 411px) and (max-width: 767px) {
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
    padding-top: 26%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection {
    padding: 8% 0% 0% 10%; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection h1 {
      font-size: 2rem;
      padding-top: 2%; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection h3 {
      font-size: 1rem; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
      font-size: 0.6em;
      padding-top: 13%; }
  #collection .container .row .col-md-4 .main .row .col-md-6 .picture input {
    bottom: 4%;
    padding: 5%;
    font-size: 0.8em;
    right: 23%; }
  #collection .container .row .col-md-4 .main .row .col-md-6 .picture img {
    width: 100%;
    padding-top: 27%; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #collection .container .row .col-md-4 .main .row .col-md-6 .collection {
    padding: 8% 0% 0% 10%; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection h1 {
      font-size: 2.5rem;
      padding-top: 2%; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection h3 {
      font-size: 1.75rem; }
    #collection .container .row .col-md-4 .main .row .col-md-6 .collection p {
      font-size: 0.6em;
      padding-top: 17%; }
  #collection .container .row .col-md-4 .main .row .col-md-6 .picture input {
    bottom: 4%;
    padding: 5%;
    font-size: 0.8em;
    right: 23%; }
  #collection .container .row .col-md-4 .main .row .col-md-6 .picture img {
    width: 100%;
    padding-top: 24%; } }
#diamond {
  margin-bottom: 5%;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486)), url(../Images/shop2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5%;
  padding-top: 5%; }
  #diamond .container .row .col-md-2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%; }
    #diamond .container .row .col-md-2 .card {
      position: relative;
      margin-top: 3%;
      width: 117%;
      border-bottom-right-radius: 40%;
      border-top-left-radius: 20%;
      height: 295px;
      border: 1px solid #ffc98e;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.486));
      color: white;
      box-shadow: 0 0 0 6px #323232, 0 0 0 7px #ffc98e;
      transition: all ease-out .4s; }
      #diamond .container .row .col-md-2 .card img {
        width: 100%;
        border-top-left-radius: 22%; }
      #diamond .container .row .col-md-2 .card .card-body {
        position: relative; }
        #diamond .container .row .col-md-2 .card .card-body p {
          font-size: 0.8em;
          margin-bottom: 10%; }
        #diamond .container .row .col-md-2 .card .card-body a {
          position: absolute;
          color: #fff;
          left: 3%;
          bottom: 2%;
          width: 74%;
          border-bottom-right-radius: 38%;
          background: rgba(255, 255, 255, 0.3);
          font-weight: bold;
          border: 2px solid gray;
          transition: all 0.6s ease; }
          #diamond .container .row .col-md-2 .card .card-body a:hover {
            background: rgba(0, 0, 0, 0.3);
            color: wheat;
            border: 2px solid wheat; }
        #diamond .container .row .col-md-2 .card .card-body .sale {
          position: absolute;
          background-color: red;
          padding: 1% 5%;
          top: 15%;
          right: 4%; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .discount {
          display: inline-block;
          text-decoration-line: line-through;
          font-size: 0.8em; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .price {
          padding-left: 5%;
          display: inline-block;
          color: #ec4444;
          font-size: 1em;
          font-weight: bold; }
        #diamond .container .row .col-md-2 .card .card-body .realPrice .priceReal {
          font-size: 1em;
          font-weight: bold; }

@media screen and (min-width: 320px) and (max-width: 374px) {
  #diamond .container .row .none {
    display: none; }
  #diamond .container .row .col-md-2 {
    padding: 7.5%;
    padding-right: 12%; }
    #diamond .container .row .col-md-2 .card {
      height: 215px; }
      #diamond .container .row .col-md-2 .card h5 {
        font-size: 1rem; }
      #diamond .container .row .col-md-2 .card .card-body {
        padding: 0.5rem; }
        #diamond .container .row .col-md-2 .card .card-body p {
          font-size: 0.6em; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .discount {
          font-size: 0.6em; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .price {
          font-size: 0.8em; }
        #diamond .container .row .col-md-2 .card .card-body .realPrice .priceReal {
          font-size: 0.8em; }
        #diamond .container .row .col-md-2 .card .card-body .sale {
          top: 43%;
          right: 7%; }
        #diamond .container .row .col-md-2 .card .card-body .allSale {
          top: 7%;
          right: 2%; }
        #diamond .container .row .col-md-2 .card .card-body a {
          font-size: 0.7em; } }
@media screen and (min-width: 375px) and (max-width: 767px) {
  #diamond .container .row .none {
    display: none; }
  #diamond .container .row .col-md-2 {
    padding: 7.5%;
    padding-right: 12%; }
    #diamond .container .row .col-md-2 .card {
      height: 215px; }
      #diamond .container .row .col-md-2 .card h5 {
        font-size: 1rem; }
      #diamond .container .row .col-md-2 .card .card-body {
        padding: 0.5rem; }
        #diamond .container .row .col-md-2 .card .card-body p {
          font-size: 0.6em;
          margin-bottom: 7%; }
        #diamond .container .row .col-md-2 .card .card-body .card-title {
          margin-bottom: 0.4rem; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .discount {
          font-size: 0.6em; }
        #diamond .container .row .col-md-2 .card .card-body .allPrice .price {
          font-size: 0.8em; }
        #diamond .container .row .col-md-2 .card .card-body .realPrice .priceReal {
          font-size: 0.8em; }
        #diamond .container .row .col-md-2 .card .card-body .sale {
          top: 46%;
          right: 9%; }
        #diamond .container .row .col-md-2 .card .card-body .allSale {
          top: 7%;
          right: 5%; }
        #diamond .container .row .col-md-2 .card .card-body a {
          font-size: 0.7em; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #diamond .container .row .col-md-2 .card {
    height: 255px;
    width: 112%; }
    #diamond .container .row .col-md-2 .card .card-body p {
      font-size: 0.6em;
      margin-bottom: 7%; }
    #diamond .container .row .col-md-2 .card .card-body .card-title {
      margin-bottom: 0.6rem;
      font-size: 0.8rem; }
    #diamond .container .row .col-md-2 .card .card-body .allPrice .price {
      font-size: 0.9em; }
    #diamond .container .row .col-md-2 .card .card-body .realPrice .priceReal {
      font-size: 0.9em; }
    #diamond .container .row .col-md-2 .card .card-body .sale {
      top: 61%;
      right: 51%; }
    #diamond .container .row .col-md-2 .card .card-body .allSale {
      top: -3%;
      right: 5%; }
    #diamond .container .row .col-md-2 .card .card-body a {
      font-size: 0.7em; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #diamond .container .row .col-md-2 .card .card-body .allPrice .discount {
    font-size: 0.6em; }
  #diamond .container .row .col-md-2 .card .card-body .allPrice .price {
    font-size: 0.8em; }
  #diamond .container .row .col-md-2 .card .card-body .sale {
    top: -3%; } }
#box {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5%; }
  #box .container .col-md-3 {
    padding: 0; }
    #box .container .col-md-3 .box {
      position: relative;
      transition: all 0.4s ease;
      border: 2px double white; }
      #box .container .col-md-3 .box .upper {
        position: relative;
        background-color: rgba(0, 255, 255, 0.3);
        width: 100%;
        height: 300px;
        text-align: center;
        color: #fff;
        padding-top: 4%;
        opacity: 1;
        transition: all 1s ease; }
        #box .container .col-md-3 .box .upper i {
          font-size: 5em; }
        #box .container .col-md-3 .box .upper input {
          transform: scale(0);
          position: absolute;
          top: 60%;
          right: 2%;
          padding: 5px 15px 5px 15px;
          background: transparent;
          color: #fac667;
          font-weight: bold;
          border: 2px solid #fac667;
          transition: all 0.4s ease; }
          #box .container .col-md-3 .box .upper input:hover {
            background: rgba(0, 0, 0, 0.603);
            color: wheat;
            border: 2px solid wheat; }
        #box .container .col-md-3 .box .upper .upperContent {
          margin-left: -15%; }
          #box .container .col-md-3 .box .upper .upperContent h1, #box .container .col-md-3 .box .upper .upperContent p {
            display: inline-block;
            transition: all linear 0.4s; }
          #box .container .col-md-3 .box .upper .upperContent .smallP {
            font-size: 1.1em;
            padding-left: 14%;
            font-weight: bold;
            transition: all linear 0.4s; }
          #box .container .col-md-3 .box .upper .upperContent .h1Border, #box .container .col-md-3 .box .upper .upperContent .pBorder {
            border: 3px solid wheat;
            color: wheat;
            padding: 2%;
            letter-spacing: .5ch;
            letter-spacing: 0.3ch;
            text-shadow: 0 1px 0 wheat, 0 1.4px 0 wheat, 0 1.7px 0 wheat, 0 2px 0 wheat, 0 2.3px 0 wheat, 0 2.6px 0 wheat, 0 2.9px 0 wheat, 0 3.2px 0 wheat, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3); }
        #box .container .col-md-3 .box .upper .content {
          text-align: left;
          padding-left: 2%;
          font-family: 'Old Standard TT', serif;
          transition: all ease-out 0.6s; }
          #box .container .col-md-3 .box .upper .content h1 {
            margin: 0;
            text-transform: uppercase; }
          #box .container .col-md-3 .box .upper .content .normalSize {
            font-size: 2em;
            font-weight: bold; }
          #box .container .col-md-3 .box .upper .content .biggerWord {
            font-size: 2.6em; }
          #box .container .col-md-3 .box .upper .content .smallWord {
            font-size: 1.3em;
            font-weight: bold; }
          #box .container .col-md-3 .box .upper .content .bigWord {
            font-size: 2.3em; }
      #box .container .col-md-3 .box .changable .content {
        text-align: right;
        padding-right: 2%; }
      #box .container .col-md-3 .box .changable input {
        transform: scale(0);
        position: absolute;
        top: 18%;
        left: 2%;
        padding: 5px 15px 5px 15px;
        background: transparent;
        color: #fac667;
        font-weight: bold;
        border: 2px solid #fac667;
        transition: all 0.4s ease; }
        #box .container .col-md-3 .box .changable input:hover {
          background: rgba(0, 0, 0, 0.603);
          color: wheat;
          border: 2px solid wheat; }
      #box .container .col-md-3 .box .down {
        position: absolute;
        top: 0;
        z-index: -1;
        transition: all linear .6s; }
        #box .container .col-md-3 .box .down img {
          width: 100%;
          height: 300px; }
      #box .container .col-md-3 .box:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 20px black; }
    #box .container .col-md-3:hover {
      z-index: 1;
      border: none; }
    #box .container .col-md-3:hover .down {
      top: 100%; }
    #box .container .col-md-3:hover #box {
      padding-bottom: 100%; }
    #box .container .col-md-3:hover .content {
      color: #ffbb3d;
      text-shadow: 0 1px 0 #c9cfce, 0 1.3px 0 #bcc2c2, 0 1.5px 0 #afb6b6, 0 1.7px 0 #a4adac, 0 1.9px 0 #9fa8a7, 0 2.1px 0 #99a3a2, 0 2.3px 0 #97a1a0, 0 2.5px 0 #949e9d, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3); }
    #box .container .col-md-3:hover .upper {
      background: linear-gradient(to right, #000, #81faea);
      font-family: 'Lato', sans-serif;
      opacity: 0.9;
      transition: all 1s ease; }
    #box .container .col-md-3:hover .changable {
      background: linear-gradient(to right, #81faea, #000);
      font-family: 'Lato', sans-serif; }
    #box .container .col-md-3:hover .changable .upperContent {
      color: #fff;
      text-shadow: 0 1px 0 #fff, 0 1.3px 0 #fff, 0 1.5px 0 #fff, 0 1.7px 0 #fff, 0 1.9px 0 #fff, 0 2.1px 0 #fff, 0 2.3px 0 #fff, 0 2.5px 0 #fff, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3); }
    #box .container .col-md-3:hover .upperContent {
      color: #000;
      text-shadow: 0 1px 0 #000, 0 1.3px 0 #000, 0 1.5px 0 #000, 0 1.7px 0 #000, 0 1.9px 0 #000, 0 2.1px 0 #000, 0 2.3px 0 #000, 0 2.5px 0 #000, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3); }
    #box .container .col-md-3:hover .box .upper input {
      transform: scale(1);
      transition: all 0.4s ease; }
    #box .container .col-md-3:hover .box .upperContent .smallP {
      color: #fff;
      text-shadow: 0 1px 0 #c9cfce, 0 1.3px 0 #bcc2c2, 0 1.5px 0 #afb6b6, 0 1.7px 0 #a4adac, 0 1.9px 0 #9fa8a7, 0 2.1px 0 #99a3a2, 0 2.3px 0 #97a1a0, 0 2.5px 0 #949e9d, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 320px) and (max-width: 359px) {
  #box .container .col-md-3 {
    padding-left: 2%;
    padding-right: 2%; }
    #box .container .col-md-3 .box .upper .upperContent .smallP {
      font-size: 0.9em; }
    #box .container .col-md-3 .box .upper .content .normalSize {
      font-size: 1.7em; }
    #box .container .col-md-3 .box .upper .content .biggerWord {
      font-size: 2.4em; }
    #box .container .col-md-3 .box .upper .content .smallWord {
      font-size: 1em; }
    #box .container .col-md-3 .box .upper .content .bigWord {
      font-size: 2em; }
    #box .container .col-md-3 .box:hover {
      transform: scale(1); } }
@media screen and (min-width: 360px) and (max-width: 767px) {
  #box .container .col-md-3 {
    padding-left: 2%;
    padding-right: 2%; }
    #box .container .col-md-3 .box .upper .content .normalSize {
      font-size: 1.7em; }
    #box .container .col-md-3 .box .upper .content .biggerWord {
      font-size: 2.4em; }
    #box .container .col-md-3 .box .upper .content .smallWord {
      font-size: 1em; }
    #box .container .col-md-3 .box .upper .content .bigWord {
      font-size: 2em; }
    #box .container .col-md-3 .box:hover {
      transform: scale(1); } }
@media screen and (min-width: 411px) and (max-width: 767px) {
  #box .container .col-md-3 .box .upper .upperContent .smallP {
    padding-left: 21%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #box {
    margin-bottom: 130%; }
    #box .container .col-md-3 .box .upper {
      height: 228px; }
      #box .container .col-md-3 .box .upper .upperContent {
        padding-top: 5%; }
        #box .container .col-md-3 .box .upper .upperContent .h1Border {
          margin-left: 6%;
          font-size: 1.2em; }
        #box .container .col-md-3 .box .upper .upperContent .pBorder {
          font-size: 0.6em; }
        #box .container .col-md-3 .box .upper .upperContent h1 {
          font-size: 1em; }
        #box .container .col-md-3 .box .upper .upperContent p {
          font-size: 1em; }
        #box .container .col-md-3 .box .upper .upperContent .smallP {
          font-size: 0.5em;
          padding-left: 14%; }
      #box .container .col-md-3 .box .upper .content .normalSize {
        font-size: 1.5em; }
      #box .container .col-md-3 .box .upper .content .biggerWord {
        font-size: 2.2em; }
      #box .container .col-md-3 .box .upper .content .smallWord {
        font-size: 1em; }
      #box .container .col-md-3 .box .upper .content .bigWord {
        font-size: 1.8em; }
      #box .container .col-md-3 .box .upper input {
        top: 47%;
        font-size: 0.7em;
        right: 8%;
        padding: 1px 5px 1px 5px; }
    #box .container .col-md-3 .box .changable input {
      top: 3%;
      left: 8%;
      padding: 1px 5px 1px 5px; }
    #box .container .col-md-3 .box .down img {
      height: 228px; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #box .container .col-md-3 .box .upper {
    height: 240px; }
    #box .container .col-md-3 .box .upper .upperContent {
      padding-top: 5%; }
      #box .container .col-md-3 .box .upper .upperContent .h1Border {
        margin-left: 22%;
        font-size: 1.2em; }
      #box .container .col-md-3 .box .upper .upperContent .pBorder {
        font-size: 0.6em; }
      #box .container .col-md-3 .box .upper .upperContent h1 {
        font-size: 1em; }
      #box .container .col-md-3 .box .upper .upperContent p {
        font-size: 1em; }
      #box .container .col-md-3 .box .upper .upperContent .smallP {
        font-size: 0.5em;
        padding-left: 14%; }
    #box .container .col-md-3 .box .upper .content .normalSize {
      font-size: 1.5em; }
    #box .container .col-md-3 .box .upper .content .biggerWord {
      font-size: 2.2em; }
    #box .container .col-md-3 .box .upper .content .smallWord {
      font-size: 1em; }
    #box .container .col-md-3 .box .upper .content .bigWord {
      font-size: 1.8em; }
    #box .container .col-md-3 .box .upper input {
      top: 60%;
      font-size: 0.8em;
      right: 5%;
      padding: 5px 10px 5px 10px; }
  #box .container .col-md-3 .box .changable input {
    top: 3%;
    left: 5%;
    padding: 5px 10px 5px 10px; }
  #box .container .col-md-3 .box .down img {
    height: 240px; } }
#footer {
  width: 100%;
  font-family: 'Source Serif Pro', serif;
  background: #f2f2f2;
  margin-top: 5%;
  transition: all 1s ease; }
  #footer .container-fluid .row .col-md-4 .logo {
    padding: 10%; }
    #footer .container-fluid .row .col-md-4 .logo h1 {
      padding-left: 10%;
      color: #d91522;
      font-size: 38px;
      font-family: 'Calligraffitti', cursive;
      font-weight: 400; }
    #footer .container-fluid .row .col-md-4 .logo img {
      margin-top: -11%; }
  #footer .container-fluid .row .col-md-2 .about {
    padding-top: 21%; }
    #footer .container-fluid .row .col-md-2 .about ul li a {
      display: block;
      font-size: 1.2em;
      margin-bottom: 10px;
      text-transform: capitalize;
      transition-duration: 500ms;
      transition-duration: 500ms;
      font-weight: 600;
      color: black; }
      #footer .container-fluid .row .col-md-2 .about ul li a:hover {
        transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        text-decoration: none;
        outline: none;
        color: #d91522;
        margin-left: 5%; }
  #footer .container-fluid .row .col-md-4 .content {
    padding-top: 10%; }
    #footer .container-fluid .row .col-md-4 .content h1 {
      font-weight: 700;
      font-size: 1.8em; }
  #footer .container-fluid .row .col-md-4 .subscribe {
    padding-top: 5%; }
    #footer .container-fluid .row .col-md-4 .subscribe .email {
      border: none;
      border-radius: 0;
      font-size: 12px;
      height: 50px;
      padding: 5px 15px;
      width: 57%;
      background-color: #f0eded;
      color: #929191;
      font-style: italic;
      overflow: visible; }
    #footer .container-fluid .row .col-md-4 .subscribe .submit {
      background-color: #3a3a3a;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      height: 50px;
      position: absolute;
      transition-duration: 500ms;
      padding: 0 30px;
      font-weight: 700; }
      #footer .container-fluid .row .col-md-4 .subscribe .submit:hover {
        background-color: #d91522;
        color: #fff; }
  #footer .container-fluid .container-fluid .row .hr {
    width: 100%;
    height: 2px;
    background: black;
    margin: 2% 0;
    margin-top: -2%; }

@media screen and (min-width: 320px) and (max-width: 359px) {
  #footer .container-fluid .row .col-md-4 .logo {
    padding-left: 20%; }
  #footer .container-fluid .row .col-md-4 .content {
    text-align: center; }
  #footer .container-fluid .row .col-md-2 .about {
    text-align: center;
    margin-top: -10%; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  #footer .container-fluid .row .col-md-4 .logo {
    padding-left: 20%; }
  #footer .container-fluid .row .col-md-4 .content {
    text-align: center; }
  #footer .container-fluid .row .col-md-4 .subscribe .email {
    width: 63%; }
  #footer .container-fluid .row .col-md-2 .about {
    text-align: center;
    margin-top: -10%; } }
@media screen and (min-width: 375px) and (max-width: 410px) {
  #footer .container-fluid .row .col-md-4 .logo {
    padding-left: 20%; }
  #footer .container-fluid .row .col-md-4 .content {
    text-align: center; }
  #footer .container-fluid .row .col-md-4 .subscribe .email {
    width: 65%; }
  #footer .container-fluid .row .col-md-2 .about {
    text-align: center;
    margin-top: -10%; } }
@media screen and (min-width: 411px) and (max-width: 767px) {
  #footer .container-fluid .row .col-md-4 .logo {
    padding-left: 20%; }
  #footer .container-fluid .row .col-md-4 .content {
    text-align: center; }
  #footer .container-fluid .row .col-md-4 .subscribe .email {
    width: 68%; }
  #footer .container-fluid .row .col-md-2 .about {
    text-align: center;
    margin-top: -10%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer {
    margin-top: 5%; }
    #footer .container-fluid .row .col-md-4 .logo {
      padding-left: 20%; }
    #footer .container-fluid .row .col-md-4 .content {
      text-align: center;
      padding-top: 13%; }
    #footer .container-fluid .row .col-md-4 .subscribe {
      padding-top: 16%; }
      #footer .container-fluid .row .col-md-4 .subscribe .email {
        width: 48%; }
      #footer .container-fluid .row .col-md-4 .subscribe .submit {
        padding: 0 15px; }
    #footer .container-fluid .row .col-md-2 .about {
      text-align: center;
      margin-top: 10%; } }
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  #footer {
    margin-top: 5%; }
    #footer .container-fluid .row .col-md-4 .content {
      text-align: center;
      padding-top: 13%; } }
#circle {
  font-family: sans-serif; }
  #circle .circle {
    transform: translate(36%, -25%); }
    #circle .circle ul {
      position: relative;
      width: 320px;
      height: 60px; }
      #circle .circle ul:hover .face {
        transform: translateX(64px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(128px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(192px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(256px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(320px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li {
        position: absolute;
        list-style-type: none;
        transition: 1s; }
        #circle .circle ul li a {
          display: block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          background: #262626;
          color: #fff;
          margin: 0 20px;
          border-radius: 50%;
          font-size: 30px;
          margin: 0;
          padding: 0;
          transition: 2s; }
        #circle .circle ul li .face {
          background: #3b5999; }
        #circle .circle ul li .twit {
          background: #1dcaff; }
        #circle .circle ul li .link {
          background: #0077b5; }
        #circle .circle ul li .google {
          background: #d34836; }
        #circle .circle ul li .pin {
          background: #dc0e19; }
      #circle .circle ul:before {
        content: "\f1e0";
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        background-color: #262626;
        border-radius: 30px;
        text-align: center;
        line-height: 60px;
        color: #fff;
        z-index: 1;
        font-size: 30px;
        transition: 0.8s; }
      #circle .circle ul:hover:before {
        width: 60px;
        background-color: white;
        color: #262626;
        border-color: #262626; }

@media screen and (min-width: 320px) and (max-width: 359px) {
  #circle .circle {
    transform: translate(0%, 8%); }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(64px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(115px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(166px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(217px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(268px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 100%;
        height: 38px;
        line-height: 38px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  #circle .circle {
    transform: translate(0%, 8%); }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(68px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(121px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(178px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(235px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(292px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 105%;
        height: 38px;
        line-height: 38px; } }
@media screen and (min-width: 375px) and (max-width: 410px) {
  #circle .circle {
    transform: translate(0%, 8%); }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(70px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(128px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(186px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(244px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(302px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 115%;
        height: 38px;
        line-height: 38px; } }
@media screen and (min-width: 411px) and (max-width: 767px) {
  #circle .circle {
    transform: translate(0%, 8%); }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(70px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(140px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(210px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(280px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(350px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 125%;
        height: 38px;
        line-height: 38px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #circle .circle {
    transform: translate(0%, 8%);
    margin-left: 25%; }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(70px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(140px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(210px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(280px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(350px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 125%;
        height: 38px;
        line-height: 38px; } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #circle .circle {
    transform: translate(0%, 8%);
    margin-left: 31%; }
    #circle .circle ul {
      margin-bottom: 0; }
      #circle .circle ul:hover .face {
        transform: translateX(70px) rotate(360deg);
        transition-delay: 0.8s; }
      #circle .circle ul:hover .twit {
        transform: translateX(140px) rotate(360deg);
        transition-delay: 0.6s; }
      #circle .circle ul:hover .link {
        transform: translateX(210px) rotate(360deg);
        transition-delay: 0.4s; }
      #circle .circle ul:hover .google {
        transform: translateX(280px) rotate(360deg);
        transition-delay: 0.2s; }
      #circle .circle ul:hover .pin {
        transform: translateX(350px) rotate(360deg);
        transition-delay: 0s; }
      #circle .circle ul li a {
        font-size: 1.2em;
        width: 38px;
        height: 38px;
        line-height: 38px; }
      #circle .circle ul:before {
        font-size: 1.2em;
        width: 125%;
        height: 38px;
        line-height: 38px; } }

/*# sourceMappingURL=styleThird.css.map */
